<section>
    <div class="container">
        <div class="header">
            <h2>Crea tu Piloto</h2>
        </div>

        <form class="form" novalidate [formGroup] = "formula1Form" (ngSubmit)="onSubmit()">

                <div class="form-control">
                    <label for="id">Driver Id</label>
                    <input type="text" id="id" formControlName="id" placeholder="Id number">
                </div>
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" placeholder="Nombre">
                </div>
                <div class="form-control">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" formControlName="surname" placeholder="Apellido">
                </div>
                <div class="form-control">
                    <label for="team">Team</label>
                    <input type="text" id="team" formControlName="team" placeholder="Equipo">
                </div>
                <div class="form-control">
                    <label for="country">Country</label>
                    <input type="text" id="country" formControlName="country" placeholder="País">
                </div>
                <div class="form-control">
                    <label for="imgCountry">Country flag</label>
                    <input type="text" id="imgCountry" formControlName="imgCountry" placeholder="Bandera del país">
                </div>
                <div class="form-control">
                    <label for="imgDriver">Driver image</label>
                    <input type="text" id="imgDriver" formControlName="imgDriver" placeholder="Imagen del piloto">
                </div>
                <div class="form-control">
                    <label for="imgNumber">Number image</label>
                    <input type="text" id="imgNumber" formControlName="imgNumber" placeholder="Número">
                </div>

            
                <!-- <div class="error" 
                *ngIf="
                !formula1Form.get('name').valid && 
                (formula1Form.get('name').dirty || submitted)">
                Input error
                </div> -->

                <!-- <button type="submit">Submit</button> -->
                <button type="submit" [disabled]="!formula1Form.valid">Submit</button>
        </form>
    </div>
</section>

<app-modal-create [(showModal)]="showModal">
    <div class="modal-header">
        <h1>Formulario Pilotos</h1>
    </div>
    <div class="modal-body">
        <h3>¡Piloto creado!</h3>
        <button routerLink="/list">Volver al listado</button>
    </div>
</app-modal-create>