section {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    .container {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 400px;
        max-width: 100%;
        .header {
            background-color: #f7f7f7;
            border-bottom: 1px solid #f0f0f0;
            padding: 20px 40px;
            h2 {
                margin: 0;
            }
        }
        .form {
            padding: 30px 40px;
            .form-control {
                margin-bottom: 10px;
                // padding-bottom: 5px;
                label {
                    display: inline-block;
                    margin-bottom: 5px;
                }
                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 4px;
                    display: block;
                    width: 100%;
                    padding: 10px;
                    font-size: 14px;
                    font-family: inherit;
                }
            }
            button {
                background-color: grey;
                border: 2px solid grey;
                color: white;
                display: block;
                padding: 10px;
                width: 100%;
                font-size: 16px;
                font-family: inherit;
                border-radius: 5px;
            }
        }
    }
}