<div class="main" *ngIf="detail">
    
    <div class="img-size">
        <img class="size-driver" src="{{detail.imgDriver}}" alt="">
    </div>
    <div class="img-position"> 
        <img class="number-size" src="{{detail.imgNumber}}" alt="">
        <img class="flag-size" src="{{detail.imgCountry}}" alt="">
    </div>
    
    <h1 class="name">{{detail.name}} {{detail.surname}}</h1>

    <div class="stats">
        <div class="display">
            <p>Team:</p>
            <p>{{detail.team}}</p>
        </div>
        <div class="display">
            <p>Country:</p>
            <p>{{detail.country}}</p>
        </div>
        <div class="display">
            <p>Podiums:</p>
            <p>{{detail.podiums}}</p>
        </div>
        <div class="display">
            <p>Points:</p>
            <p>{{detail.points}}</p>
        </div>
        <div class="display">
            <p>Grand Prix:</p>
            <p>{{detail.GGPP}}</p>
        </div>
        <div class="display">
            <p>World Championships:</p>
            <p>{{detail.Championships}}</p>
        </div>
        <div class="display">
            <p>Date of birth:</p>
            <p>{{detail.dateBirth}}</p>
        </div>
        <div class="display">
            <p>Place of Birth:</p>
            <p>{{detail.placeBirth}}</p>
        </div>
    </div>

    <button (click)= "goBack()">Volver</button>
</div>
