.main {

    .img-size {
       
       .size-driver {
         width: 100%;
         background-size: 100%;
        }
    }
    .img-position {
        display: flex;
        padding-top: 10px;
        .number-size {
            width: auto;
            height: 30px;
            margin-right: 4px;
        }
        .flag-size {
            width: auto;
            height: 30px;
            border-radius: 10px;
        }
    }
    .name {
        margin-top: 2px;
        border-bottom: 1px solid rgb(213, 208, 208);
        padding-left: 10px;
    }
    
    .stats {
        max-width: 600px;
        .display {
            display: flex;
            justify-content: space-between;
            margin-bottom: -20px;
            padding-left: 10px;
        }
    }

    button {
        margin: 12px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        box-shadow: 0 4px #999;
    }
    
    button:hover {
        background-color: gray;
        box-shadow: 0 4px #666;
        transform: translateY(2px);
    }
}