.aboutme {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .aboutme-image {
      
        img {
            max-width: 100%;
            min-width: 180px;
        }
        a {

            img {
                max-width: 200px;
                min-width: auto;
            }
           
        }
    }
    .aboutme-info {
        margin-left: 30px;
        margin-top: -20px;
        h4 {
        border-bottom: 1px solid black;
        }
        p {
            span {
                font-weight: bold;
            }
        }
    }
}