

<div class="aboutme">
    <div class="aboutme-image">
        <img src="{{about.image}}" alt="">
        <a href="{{about.linkedin}}" target="blank"><img src="https://paulinaacostadelrio.com/wp-content/uploads/2020/03/linkedin-png-logo-5.png" alt="" ></a>
    </div>
    <div class="aboutme-info">

        <h4>{{about.name}} {{about.surname}}</h4>

        <p>{{about.experience}}</p>
        <p>{{about.experience2}}</p>
    
        <p><span>Email:</span> {{about.email}}</p>
    
        <p><span>Teléfono:</span> {{about.phone}}</p>
    </div>
   
</div>

