<nav>
    <div class= "nav-img">
        <img src="{{ imageLogo }}" alt="{{ imageAlt }}">
    </div>
    <div class="nav-links">
        <ul>
            <li routerLink="/home">Home</li>
            <li routerLink="/list">List</li>
            <li routerLink="/create">Create</li>
            <li routerLink="/about">About</li>
        </ul>
    </div>
</nav>
