nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    min-width: 512px;
    .nav-img {
        max-width: 100px;
        height: auto;
        margin: 15px;
        padding-top: 16px;
    }
    .nav-links {
        margin: 10px;
        ul {
            display: flex;
            list-style: none;
            li {
                cursor: pointer;
                margin: 10px;
                color: white;
                font-size: 1.2rem;
            }
            li:hover {
                color: gray;
                box-shadow: 0 5px #666;
                transform: translateY(2px);
            }

        }
    }
}