<footer class="site-footer">

    <div class="site-footer__det">
        <ul class="menu">
            <li *ngFor="let item of this.footer.column1"><a class="a-styles" href="#">{{ item }}</a></li>
        </ul>
    </div>

    <div class="site-footer__det">
        <ul class="menu">
            <li *ngFor="let item of this.footer.column2"><a class="a-styles" href="#">{{ item }}</a></li>
        </ul>
    </div>

    <div class="site-footer__det">
        <ul class="menu">
            <li *ngFor="let item of this.footer.column3"><a class="a-styles" href="#">{{ item }}</a></li>
        </ul>
    </div>

</footer>
