.site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #15151E;
    min-width: 512px;
    background-size: 100%;
    .site-footer__det {
        padding-right: 60px;
        
        .menu {
            li {
                list-style: none;
            }
            .a-styles {
                text-decoration: none;
                color: white;  
                font-size: 1rem;       
            }
            .a-styles:hover {
                color: gray;
            }    
        }   
    }
}