.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.position {
    margin-right: 20px;
    .button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        float:right;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 25px;
        color: red;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

}