
<div class="grid">
    <app-item-list [item]="item" *ngFor="let item of itemList"></app-item-list>
</div>
<div class="position">
    <button class="button" (click)= "goBack()"> <span>Volver</span></button>
</div>
