<div class="grid">
    <div class= "list-content" [routerLink]= "['/detail', item.id]">
        <div class="points">
            <div>
                <p class="points-margin points-size-1">{{ item.id }}</p>
            </div>
            <div class="points-box">
                <p class="points-size-2">{{ item.points }}</p>
                <button class="btn">PTS</button>
            </div>
        </div>
        
        <div class="name1">
            <div class="name2">
                <p class="name3">{{ item.name }}</p>
                <p class="surname">{{ item.surname }}</p>
            </div>  
            <div class="image-size">
                <img class="size-small" src="{{ item.imgCountry }}" alt="">
            </div>
        </div>

        <div class="team">
            <p>{{ item.team }}</p>
        </div>

        <div class="images">
            <img class="img-number" src="{{ item.imgNumber }}" alt="">
            <img class="img-driver" src="{{ item.imgDriver }}" alt="">
        </div>
    </div>
</div>

