 .grid {
    display: flex;
    justify-content: space-between;
    
    .list-content {
        cursor: pointer;
        border-radius: 15px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        // .list-content:hover {
        //     background: red;
        // }
        
        .points {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
            margin-top: -40px;

            .points-margin {
                margin-right: 60px;
            }
            .points-size-1 {
                font-size: 40px;
                font-weight: bold;
            }
            .points-size-2 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 1px;
            }
            .btn {
                background-color: black;
                color: white;
                border-radius: 5px;
            }
        
        }
        .name1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
            .name2 {
               
                .name3 {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                    margin-top: 1px;
                }
                .surname {
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-weight: 700;
                }
            }
            .image-size {
                .size-small {
                width: 50px;
                
                }
            }
        }

        .images {
            display: flex;
            background-image: url(https://www.pngfind.com/pngs/m/103-1039082_square-angle-symmetry-point-pattern-stars-clipart-png.png);
            
            .img-number {
                width: 50px;
                height: 50px;
            }
        }

    }
}   