<div class="blog">
    <div class="img-size">
        <img src="{{ title.image }}" alt="">
    </div>
    <div>
        <div>
            <h1>{{title.title}}</h1>
            <p>{{title.date}}</p>
        </div>
        <div>
            <h3>{{title.subtitle}}</h3>
            <p>{{title.text}}</p>
        </div>
        <div> 
            <p>Author: {{title.author}}</p>
            <p>Duration: {{title.duration}} min.</p>
        </div>
    </div>
</div>