/* You can add global styles to this file, and also import other style files */
body {
    margin: 30px auto;
    max-width: 1200px;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Titillium Web', sans-serif;
}